@{
    ViewBag.Title = "Contact";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <address>
        K22CNT3<br />
        - Chuyên đề đồ án xây dụng website!<br />
        <abbr title="Phone">P:</abbr>
        0966536276

    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:nguyenvanduoc09665362766276@gmail.com">nguyenvanduoc09665362766276@gmail.com</a>
    </address>
</main>